.MuiListItem-divider-123{
  border-bottom:none !important;
}

.MuiListItemText-inset-130:first-child{
  padding-left:0em !important;
}

/*.nestedCustom {*/
  /*margin-left:5em !important;*/
/*}*/

.menuHeader {
  paddingLeft: "30px"
}
.list {
  min-width:30em;
}

